/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Brandon Grotesque Black';
  src:  url('../fonts/Brandon_blk.WOFF') format('woff'),
        url('../myfont.woff') format('woff');
    }
@font-face {
  font-family: 'Brandon Grotesque Bold';
  src:  url('../fonts/Brandon_bld.WOFF') format('woff'),
        url('../myfont.woff') format('woff');
    }
    @font-face {
  font-family: 'Brandon Grotesque Regular';
  src:  url('../fonts/Brandon_Reg.WOFF') format('woff'),
        url('../myfont.woff') format('woff');
    }


/*--------------------------------------------------------------
## General styles
--------------------------------------------------------------*/

* {
box-sizing: border-box;
margin: 0;
}



body {
	background-color: #ffc864 ;
		color: #8c1932;
border: solid 20px #fff;
text-align: center;
width: 100%;
min-height: 100vh;
height: 100%;
margin: 0;
font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
font-weight: normal;
font-size: 1.25rem;
display: flex;
}

h1 {
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 4.5rem;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	margin: 0 auto;
	font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
}

a {
	color: #ff4632;
	text-decoration: none;
	
}

a:hover {
color: #8c1932;
	    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

.app-wrapper {
	margin: auto;
	width: 50%;
	position: relative;
	top: 0;
	height: auto;
	max-height: calc(100vh - 40px);
	overflow: hidden;
	padding-top: 0.75rem;
	display: table-cell;
	vertical-align: middle;
}


.timer-wrapper {
	margin-bottom: 30px;
	font-size: 4.5rem;
}

#time {
	margin: 0px auto 20px auto;
}


/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

.buttons-wrapper {
	margin: 0px auto 30px auto;
	display: inline-block;
	font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
}

.top-btn-wrapper--inner {
	display: flex;
}

#session-num, #break-num {
	display: inline-block;
	width: 40px;
	text-align: center;
	font-size: 3rem;
	vertical-align: baseline;
	font-weight: bold;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
}

.btn {
	color: #000;
	font-size: 2.75rem;
	margin: 10px 2rem 0px 2rem;
	cursor: pointer;
	padding: 4px;
	border: solid 2px #000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: transparent;
	text-align: center;
}

#break-less, #session-less {
		line-height: 2.6rem;
		margin-bottom: 8px;
}
.minus{
		position: relative;
		top: 30%;
		left: calc(50%);
		line-height: 0.5rem;
		display: table-cell;
		vertical-align: middle;
		}

.plus {
		position: relative;
		top: 30%;
		left: 40%;
		line-height: 1.5rem;
		display: table-cell;
		vertical-align: middle;
		}		

#session-more, #break-more {
		line-height: 2.6rem;
}

.btn:hover {
	background: #000;
	color: #ffc864;
	transition: background-color .15s ease,border-color .15s ease,color .15s ease;

}

.lg-btn {
	padding: 15px 56px 13px;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
	color: #fff;
	font-size: 1.25rem;
	background: #ff4632;
	width: 280px;
	border: none;
	border-radius: 100px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin: 25px auto;
	letter-spacing: 0.1875rem;
}

.lg-btn:hover {
	background: #8c1932;
	    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

#remaining-time {
	display: block;
	font-size: 2.5rem;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
}



/*--------------------------------------------------------------
## Circle animation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

footer {
	font-size: 0.875rem;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	top: 0px;
	padding: 0px;
	display: block;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
## Responsive CSS
--------------------------------------------------------------*/

@media screen and (max-width: 1120px){
.app-wrapper {
	margin: 10% auto;
	width: 90%;
}
}

@media screen and (max-width: 900px){


}

@media screen and (max-width: 768px){

.app-wrapper {
	margin: 10% auto;
	width: 100%;
}
.buttons-wrapper {
	display: block;
}

}

@media screen and (max-width: 580px){
h1 {
	font-size: 3.75rem;
	line-height: 4rem;
}

}

@media screen and (max-width: 480px){
h1 {
	font-size: 2.75rem;
	line-height: 2.75rem;
}
}

@media screen and (max-width: 380px){


.buttons-wrapper h2 {
	font-size: 1.75rem;
}

#session-num, #break-num {
	font-size: 1.75rem;
}

.btn {
	font-size: 1.75rem;
	    height: 30px;
    width: 30px;
}

body {
	border: solid 5px #fff;
}

.lg-btn {
	width: 80vw;
}
#counter {
	font-size: 6rem;
}

}

@media screen and (max-width: 320px){
h1 {
	font-size: 2rem;
	line-height: 1.5rem;
}

}

@media screen and (min-width: 901px){

}