/*--------------------------------------------------------------
## Reset
--------------------------------------------------------------*/

* {
box-sizing: border-box;
margin: 0;
}

/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Brandon Grotesque Black';
  src:  url('../../fonts/Brandon_blk.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }

@font-face {
  font-family: 'Brandon Grotesque Bold';
  src:  url('../../fonts/Brandon_bld.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }

@font-face {
  font-family: 'Brandon Grotesque Regular';
  src:  url('../../fonts/Brandon_Reg.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }

/*--------------------------------------------------------------
## General styles
--------------------------------------------------------------*/

::-moz-selection {
	background: #ff4632 ;
	color: #fff;
}

::selection {
	background: #ff4632 ;
	color: #fff;
}

body {
	background-color: #ffc864 ;
color: #8c1932;
border: solid 20px #fff;
text-align: center;
width: 100%;
min-height: 100vh;
font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
font-size: 1.25rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.app-wrapper {
	margin: auto;
	width: auto;
	max-height: 90vh;
	overflow: hidden;
}

@media (max-width: 475px) {

.app-wrapper {
width: 95%;
}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.app-title {
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 4.5rem;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

@media (max-width: 475px) {

.app-title {
font-size: 2.75rem;
}
}

@media (max-width: 360px) {

.app-title {
font-size: 2rem;
}
}

.app-subtitle {
	font-size: 0.875rem;
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
	position: relative;
	top: 0px;
	padding: 0px;
	display: block;
	box-sizing: border-box;
}

@media (max-width: 475px) {

.app-subtitle {
font-size: 0.875rem;
}
}

a {
	color: #ff4632;
	text-decoration: none;	
}

a:hover {
color: #8c1932;
	    -webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

/*--------------------------------------------------------------
## Timer
--------------------------------------------------------------*/

.timer {
	margin-bottom: 50px;
	font-size: 5.5rem;
}

@media (max-width: 475px) {

.timer {
font-size: 4rem;
margin-top: 25px;
margin-bottom: 50px;
}
}

@media (max-width: 360px) {

.timer {
margin-bottom: 35px;
}
}

#time {
	margin: 0px auto 20px auto;
}

.timer__time-left {
	display: block;
	font-size: 2.5rem;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
	margin-bottom: 25px;
}

@media (max-width: 475px) {

.timer__time-left {
font-size: 1.75rem;
margin-bottom: 10px;
}
}

@media (max-width: 360px) {

.timer__time-left {
font-size: 1.5rem;
margin-bottom: 5px;
}
}

/*--------------------------------------------------------------
## Buttons - top
--------------------------------------------------------------*/

.top-btn-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 50px;
}

@media (max-width: 475px) {

.top-btn-wrapper {
-ms-flex-pack: distribute;
justify-content: space-around;
}
}

.btn-wrapper-small {
	display: inline-block;
	font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
	

}

.top-btn-wrapper__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}

.top-btn-wrapper__label {
	margin: 0 auto;
	font-family: 'Brandon Grotesque Regular', helvetica, arial, sans-serif;
	margin-bottom: 20px;
}

@media (max-width: 475px) {

.top-btn-wrapper__label {
font-size: 1.25rem;
margin-bottom: 5px;
}
}

@media (max-width: 360px) {

.top-btn-wrapper__label {
font-size: 1rem;
}
}

.session-num {
	display: inline-block;
	width: 1.25em;
	margin-bottom: 0px;
	text-align: center;
	font-size: 3rem;
	vertical-align: baseline;
	font-weight: bold;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
}

@media (max-width: 475px) {

.session-num {
font-size: 2rem;
}
}

@media (max-width: 360px) {

.session-num {
font-size: 1.75rem;
}
}

.sm-btn {
	color: #000;
	font-size: 2.5rem;
	margin: 0px 0.5rem;
	cursor: pointer;
	padding: 4px;
	border: solid 2px #000;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	background: transparent;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	z-index: 5;
}

@media (max-width: 475px) {

.sm-btn {
height: 25px;
width: 25px;
font-size: 1.25rem;
}
}

.less {
		line-height: 0.125;
}

.more {
		line-height: 0.75;
}

.sm-btn:hover {
	background: #000;
	color: #ffc864;
	-webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	transition: background-color .15s ease,border-color .15s ease,color .15s ease;

}

.sm-btn__text {
	position: relative;
	z-index: -5;
}

/*--------------------------------------------------------------
## Buttons - bottom
--------------------------------------------------------------*/

.lg-btn {
	padding: 15px 56px 13px;
	font-family: 'Brandon Grotesque Bold', helvetica, arial, sans-serif;
	color: #fff;
	font-size: 1.25rem;
	background: #ff4632;
	width: 280px;
	border: none;
	border-radius: 100px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin: 25px auto;
	letter-spacing: 0.1875rem;
}

@media (max-width: 475px) {

.lg-btn {
width: 240px;
font-size: 1rem;
margin: 15px auto;
}
}

@media (max-width: 360px) {

.lg-btn {
font-size: 0.875rem;
width: 200px;
padding: 13px 56px 11px;
}
}

.lg-btn:hover {
	background: #8c1932;
	    -webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}