/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Brandon Grotesque Black';
  src:  url('../../fonts/Brandon_blk.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }
@font-face {
  font-family: 'Brandon Grotesque Bold';
  src:  url('../../fonts/Brandon_bld.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }
    @font-face {
  font-family: 'Brandon Grotesque Regular';
  src:  url('../../fonts/Brandon_Reg.WOFF') format('woff'),
        url('../../myfont.woff') format('woff');
    }