@import 'modules/_reset';
@import 'modules/_fonts';
@import 'modules/_mixins';
@import 'modules/_body';
@import 'modules/_header';
@import 'modules/_timer';
@import 'modules/_buttons';




/*--------------------------------------------------------------
## Responsive CSS
--------------------------------------------------------------*/

@media screen and (max-width: 1120px){
.app-wrapper {
	margin: 10% auto;
	width: 90%;
}
}

@media screen and (max-width: 900px){


}

@media screen and (max-width: 768px){

.app-wrapper {
	margin: 10% auto;
	width: 100%;
}
.buttons-wrapper {
	display: block;
}

}

@media screen and (max-width: 580px){
h1 {
	font-size: 3.75rem;
	line-height: 4rem;
}

}

@media screen and (max-width: 480px){
h1 {
	font-size: 2.75rem;
	line-height: 2.75rem;
}
}

@media screen and (max-width: 380px){


.buttons-wrapper h2 {
	font-size: 1.75rem;
}

#session-num, #break-num {
	font-size: 1.75rem;
}

.btn {
	font-size: 1.75rem;
	    height: 30px;
    width: 30px;
}

body {
	border: solid 5px #fff;
}

.lg-btn {
	width: 80vw;
}
#counter {
	font-size: 6rem;
}

}

@media screen and (max-width: 320px){
h1 {
	font-size: 2rem;
	line-height: 1.5rem;
}

}

@media screen and (min-width: 901px){

}